.prompt, #lobby{
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  font-family:"corbel";
  background-color: white;
}
#lobby{
  width:600px;
  height:800px;
}
#roomPrompt{
  width:400px;
  height:400px;
}
#namePrompt{
  width:300px;
  height:220px;
}
.inputContainer{
  display:block;
  margin-bottom: 7px;
}
#roomForm, #nameForm{
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin:auto;
}
#roomForm{
  width:190px;
  height:200px;
}
#nameForm{
  width:220px;
  height:30px;
}

.inputs, #numOfPlayers{
  width:190px;
  height:25px;
  padding-right: 4px;
  padding-left: 4px;
  border: 1px solid grey;
  border-radius: 5px;
  display:block;
}
#numOfPlayers{
  width:55px;
  display:inline-block;
  margin-left: 8px;
}
.msg{
  color:red;
}
#playerNameInput{
  width:220px;
}
#roomBanner, #nameBanner, #lobbyBanner{
  border-radius: 10px 10px 0px 0px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  font-size:40px;
  font-weight: bold;
  background-color:#008000;
  color:white;
}
#lobbyBanner{
  width:600px;
  height:80px;
}
#roomBanner{
  width:400px;
  height:75px;
}
#nameBanner{
  width:400px;
  height:70px;
}
.promptContainer{
  display:none;
}
#createRoom, #cancelRoom, #selectName, #cancelName,#newRoom, #chooseName, #joinRoom{
  height:40px;
  width:91px;
  border-radius: 10px;
  border: 1px solid grey;
  margin: 2px;
  background-color:#008000;
  font-weight:bold;
  font-size:17px;
  color:white;
}
#selectName{
  width:130px;
}
#cancelName{
  width:81px;
}
#createRoom:active, #cancelRoom:active, #selectName:active, #cancelName:active{
  background-color: #003300;
}
#createRoom:hover, #cancelRoom:hover,#selectName:hover, #cancelName:hover{
  background-color: white;
  color:#008000;
}
.room{
  font-family:arial;
  font-size:20px;
  width:598px;
  height:auto;
  display: block;
  vertical-align:middle;
  border: 1px solid black;
  border-top:0;
}
.roomInfo{
  position:relative;
  border-top:none;
  margin-left: 5px;
  margin-right: 5px;
}
#roomNameTitle, #roomNumberTitle{
  margin-left:30px;
}
#roomPlayersTitle{
  margin-left: 210px;
}
#roomNumber{
  margin-left:50px;
}
#roomName{
  margin-left: 52px;
}
#roomPlayers{
  position: absolute;
  left: 500px;
}
#newRoom, #chooseName, #joinRoom{
  margin:5px;
  position: absolute;
  bottom:0;
}

input:focus, button:focus {
    outline:none;
}

.screen{
  z-index:1;
  top:0px;
  left:0px;
  position:fixed;
  width:100%;
  height:100%;
  background-color: grey;
  opacity: 0.7;
}
