html
    link(rel="stylesheet", href="/client/game.css")
    script(src="/socket.io/socket.io.js")
    script(src="/client/game.js")
    body
      div(id="lobby")
        div(id="lobbyBanner") Chinese Poker Online
        div(id="roomList")
          div(class="room" id="roomTitle")
            img(class="roomIcon" src="/client/img/suit-1.png")
            span(class="roomInfoTitle" id="roomNumberTitle") Room No.
            span(class="roomInfoTitle" id="roomNameTitle") Room Name
            span(class="roomInfoTitle" id="roomPlayersTitle") Players
          div(class="room")
            img(class="roomIcon" src="/client/img/suit-1.png")
            span(class="roomInfo" id="roomNumber") 0001
            span(class="roomInfo" id="roomName") namedsadasdsadsadadsada
            span(class="roomInfo" id="roomPlayers") 3/4
          div(class="room")
            img(class="roomIcon" src="/client/img/suit-1.png")
            span(class="roomInfo" id="roomNumber") 0001
            span(class="roomInfo" id="roomName") namedsadasdsadsadadsada
            span(class="roomInfo" id="roomPlayers") 3/4
        div(id="name" class="promptContainer")
          div(class="screen")
          div(id="namePrompt" class="prompt")
            div(id="nameBanner") Choose a Name
            div(id="nameForm")
              div(class="inputContainer" id="playerName")
                input(class="inputs" name="playerName" id="playerNameInput")
                span(class="msg" id="nameMsg")
              button(id="selectName") Select Name
              button(id="cancelName") Cancel
        div(id="room" class="promptContainer")
          div(class="screen")
          div(id="roomPrompt" class="prompt")
            div(id="roomBanner") Create a Room
            div(id="roomForm")
              div(class="inputContainer" id="roomName")
                span Room Name:
                input(class="inputs" name="roomName" id="roomNameInput")
              div(class="inputContainer" id="roomPass")
                span Room Password:
                input(class="inputs" name="roomPass" id="roomPassInput")
              div(class="inputContainer" id="dropdown")
                span Number of Players:
                select(id="numOfPlayers")
                  option(value="2") 2
                  option(value="3") 3
                  option(value="4") 4
              button(id="createRoom") Create
              button(id="cancelRoom") Cancel
        button(id="newRoom") new Room
        button(id="chooseName") choose name
        button(id="joinRoom") Join
