html
    link(rel="stylesheet", href="/client/home.css")
    script(src="/socket.io/socket.io.js")
    body
      div(id="roomID" hidden) #{roomID}
      div(id="playerName" hidden) #{playerName}
      div(id="disconnected" hidden) #{disconnected}
      script(src="/client/home.js")
      div(id="lobby")
        div(id="lobbyBanner")
          p(class="bannerText") Chinese Poker Online
        div(id="roomList")
          div(class="room" id="roomTitle")
            div(class="roomInfoTitle" id="roomNumberTitle") Room No.
            div(class="roomInfoTitle" id="roomNameTitle") Room Name
            div(class="roomInfoTitle" id="roomPlayersTitle") Players
        div(id="name" class="promptContainer")
          div(class="screen")
          div(id="namePrompt" class="prompt")
            div(id="nameBanner")
              p(class="bannerText") Choose a Name
            div(id="nameForm")
              div(class="inputContainer" id="playerName")
                input(class="inputs" name="playerName" id="playerNameInput")
                span(class="msg" id="nameMsg")
              button(id="selectName") Select Name
              button(id="cancelName") Cancel
        div(id="room" class="promptContainer")
          div(class="screen")
          div(id="roomPrompt" class="prompt")
            div(id="roomBanner")
              p(class="bannerText") Create a Room
            div(id="roomForm")
              div(class="inputContainer" id="roomName")
                span Room Name:
                input(class="inputs" name="roomName" id="roomNameInput")
              div(class="inputContainer" id="roomPass")
                span Room Password:
                input(class="inputs" name="roomPass" id="roomPassInput")
              div(class="inputContainer" id="dropdown")
                span Number of Players:
                select(class="inputs" id="numOfPlayers")
                  option(value="2") 2
                  option(value="3") 3
                  option(value="4") 4
              button(id="createRoom") Create
              button(id="cancelRoom") Cancel
        div(id="roomButtons")
          button(id="newRoom") Create
          button(id="chooseName") Choose Name
          button(id="joinRoom") Join
        button(id="reconnectPlayer" hidden)
