.matchContent{
  display:table-cell;
}
#roomComm{
  width:20%;
  height:500px;
  position: relative;
  border: 3px solid green;
}
#matchContainer{
  width:620px;
  border:3px solid red;
}
.handCard{
  position:absolute;
  border: 1px solid black;
}
/*
.handCard:hover{
  top:-20px;
  z-index:2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
*/
#cardView{
  width:73px;
  height:96px;
  border: 3px solid grey;
  background-color: grey;
  border-radius: 3px;
  top:3px;
  margin-left:5px;
  position:absolute;
}
#cardDisplay{
  display:none;
  border:1px solid black;
}
#table{
  font-family:"Helvetica";
  text-align: center;
  width:inherit;
  min-width: 500px;
  height:400px;
}
.roomEvents{
  font-size: 12px;
  color: grey;
}

#turnBanner{
  background-color:#4CAF50;
  width:inherit;
  text-align: center;
  display: inline-block;
  height:30px;
  font-size:20px;
  font-weight: bold;
  color:white;
}
#handBanner{
  vertical-align: middle;
  display: table-cell;
  text-align: center;
  height:inherit;
  border-radius: 10px 0px 0px 10px;
  background-color: #4CAF50;
  color:white;
  font-weight: bold;
  width:20px;
}
#subHandContainer{
  width:200px;
  height:200px;
  border:1px solid black;
}
#roomContainer{
  display:flex;
}
#playerHands{
  text-align: center;
  width:inherit;
  height:100px;
  border:1px solid orange;
}
#playerhand{
  height:108px;
  top:6px;
  margin-left:20px;
  position: absolute;
}
#playerHandContainer{
  border-radius: 10px 0px 0px 10px;
  border:1px solid black;
  height:108px;
  width:inherit;
}
.handBannerText{
  transform: rotate(-90deg);
}
.pileCard{
  padding: 4px;
}
#pile{
  text-align: center;
  display:inline-block;
  min-width: 77px;
  min-height: 102px;
  border:3px solid purple;
}
.cardContainer{
  display:table-cell;
  width:inherit;
  height:108px;
  position:relative;
}
.sideBanner{
  display:table-cell;
}
.players{
  display:inline-block;
  width:120px;
  padding:3px;
  margin:3px;
  border: 3px solid red;
}
#playerInput{
  position:absolute;
  bottom:0;
  border: 3px solid yellow;
}
