html
  link(rel="stylesheet", href="/client/room.css")
  body
    div(id="roomID" hidden) #{roomID}
    div(id="sessionID" hidden) #{sessionID}
    div(id="roomContainer")
      div(id="messageContainer")
        div(class="screen")
        div(id="messageContent")
          div(class="banner")
          div(id="message")
          button(id="okButton") OK
      div(class="roomContent" id="matchContainer")
        div(class="matchContent" id="table")
          div(id="playerTurn")
          div(id="winners")
          div(id="playerData")
          div(id="master")
          div(id="pile")
            img(class="pileCard" src="/client/img/back.png")
            img(class="pileCard" src="/client/img/back.png")
            img(class="pileCard" src="/client/img/back.png")
            img(class="pileCard" src="/client/img/back.png")
            img(class="pileCard" src="/client/img/back.png")
          div(id="playerOptions")
          div(id="toolbar")
            div(class="toolbarBlock" id="cardView")
              div(class="blockBanner") Card
              img(id="cardDisplay" height="94" src="/client/img/back.png")
            div(class="toolbarBlock" id="options")
              div(class="blockBanner") Options
              button(class="gameOption" id="ready") Ready
              button(class="gameOption" id="leaveRoom") Leave Room
              button(class="gameOption" id="submitHand") Submit
              button(class="gameOption" id="passTurn") Pass Turn
          div(class="handContainer" id="playerHandContainer")
            div(class="handBlock" id="playerHandBlock")
              div(class="blockBanner") Player Hand
              div(class="cards" id="playerHand")
            div(class="handBlock" id="selectedHandBlock")
              div(class="blockBanner") Selected Hand
              div(class="cards" id="selectedHand")
      div(class="roomContent" id="roomComm")
        div(id="roomLog")
        input(id="playerInput")
        button(id="sendMsg") Send
  script(src="/socket.io/socket.io.js")
  script(src="/client/room.js")
