html
  link(rel="stylesheet", href="/client/room.css")
  body
    div(id="roomID" hidden) #{roomID}
    div(id="sessionID" hidden) #{sessionID}
    div(id="roomContainer")
      div(class="roomContent" id="matchContainer")
        div(class="matchContent" id="table")
          div(id="opponentHands")
            div(id="turnBanner")
              div(class="bannerText" id="playerTurn")
            div(class="players")
              div(id="name") name
              div(class="playerInfo" id="cardsLeft") cards: 4
            div(class="players")
              div(id="name") name
              div(class="playerInfo" id="cardsLeft") cards: 4
            div(class="players")
              div(id="name") name
              div(class="playerInfo" id="cardsLeft") cards: 4
          div(id="pile")
          div(id="selectedCardsContainer")
            div(class="handBanner")
              div(class="handBannerText") Selected Cards
            div(class="cardContainer")
              div(class="cardView")
                img(class="cardDisplay" id="selectedCardView" src="/client/img/back.png")
              div(class="cards" id="selectedHand")
          div(id="playerHandContainer")
            div(class="handBanner")
              div(class="handBannerText") Player Hand
            div(class="cardContainer")
              div(class="cardView")
                img(class="cardDisplay" id="mainHandView" src="/client/img/back.png")
              div(class="cards" id="playerHand")
          button(id="submitHand") submit
      div(class="roomContent" id="roomComm")
        div(id="roomLog")
        div(id="playerInput") ddd
  script(src="/socket.io/socket.io.js")
  script(src="/client/room.js")
