html
  link(rel="stylesheet", href="/client/room.css")
  body
    div(id="roomID" hidden) #{roomID}
    div(id="sessionID" hidden) #{sessionID}
    div(id="roomContainer")
      div(class="roomContent" id="roomLog")
      div(class="roomContent" id="table")
        div(id="playerTurn")
        div(id="playerHands")
        div(id="pile") ze pile
        div(class="roomContent" id="subHandContainer")
        div(id="playerHand")
        button(id="submitHand") submit
  script(src="/socket.io/socket.io.js")
  script(src="/client/room.js")
