.matchContent{
  display:table-cell;
}
#roomComm{
  width:20%;
  height:500px;
  position: relative;
  border: 3px solid green;
}
#matchContainer{
  width:620px;
  border:3px solid red;
}
.handCard{
  position:absolute;
  border: 1px solid black;
}
.cardView{
  width:73px;
  height:96px;
  border: 3px solid grey;
  background-color: grey;
  border-radius: 3px;
  top:5px;
  margin-left:5px;
  position:absolute;
}
#table{
  font-family:"Helvetica";
  text-align: center;
  width:inherit;
  min-width: 500px;
  height:400px;
}
.roomEvents{
  font-size: 12px;
  color: grey;
}

#turnBanner{
  background-color:#4CAF50;
  width:inherit;
  text-align: center;
  display: inline-block;
  height:30px;
  font-size:20px;
  font-weight: bold;
  color:white;
}
.handBanner{
  width:inherit;
  text-align: center;
  border-radius: 10px 10px 0px 0px;
  background-color: #4CAF50;
  color:white;
  font-weight: bold;
}
.handBannerText{
  padding:5px;
}
#subHandContainer{
  width:200px;
  height:200px;
  border:1px solid black;
}
#roomContainer{
  display:flex;
}
#opponentHands{
  text-align: center;
  width:inherit;
  height:100px;
  border:1px solid orange;
}
.cards{
  height:108px;
  top:8px;
  margin-left:20px;
  position: absolute;
}
#playerHandContainer{
  border-radius: 10px 10px 0px 0px;
  border:1px solid black;
  height:140px;
  width:inherit;
}
.pileCard{
  padding: 4px;
}
#pile{
  text-align: center;
  display:inline-block;
  min-width: 77px;
  min-height: 102px;
  border:3px solid purple;
}
.cardContainer{
  display:table-cell;
  width:inherit;
  height:108px;
  position:relative;
}
.players{
  display:inline-block;
  width:120px;
  padding:3px;
  margin:3px;
  border: 3px solid red;
}
#playerInput{
  position:absolute;
  bottom:0;
  border: 3px solid yellow;
}
