html
  link(rel="stylesheet", href="/client/room.css")
  body
    div(id="roomID" hidden) #{roomID}
    div(id="sessionID" hidden) #{sessionID}
    div(id="roomContainer")
      div(id="messageContainer")
        div(class="screen")
        div(id="messageContent")
          div(class="banner")
          div(id="message")
          button(id="okButton") OK
      div(class="roomContent" id="matchContainer")
        div(class="matchContent" id="table")
          div(id="playerTurn")
          div(id="winners")
          div(id="playerData")
          div(id="master")
          div(id="pile")
          button(id="ready")
          button(id="passTurn") Pass Turn
          div(class="handContainer" id="selectedCardsContainer")
            div(class="handBanner")
              div(class="handBannerText") Selected Cards
            div(class="cardContainer")
              div(class="cardView")
                img(class="cardDisplay" id="selectedCardView")
              div(class="cards" id="selectedHand")
          div(class="handContainer" id="playerHandContainer")
            div(class="handBanner")
              div(class="handBannerText") Player Hand
            div(class="cardContainer")
              div(class="cardView")
                img(class="cardDisplay" id="mainHandView")
              div(class="cards" id="playerHand")
          button(id="submitHand") submit
      div(class="roomContent" id="roomComm")
        div(id="roomLog")
        div(id="playerInput") ddd
      div(id="leaveRoom")
  script(src="/socket.io/socket.io.js")
  script(src="/client/room.js")
