html
    body
        div(id="roomID" hidden) #{roomID}
        div(id="sessionID" hidden) #{sessionID}
        h1 howdy uniqueID
        p hello
    script(src="/socket.io/socket.io.js")
    script(src="/client/room.js")
