
.matchContent{
  display:table-cell;
}
#roomComm{
  width:20%;
  height:500px;
  position: relative;
  border: 3px solid green;
}
#matchContainer{
  width:620px;
  border:3px solid red;
}
#playerhand{
  background-color:#4CAF50;
  padding: 5px;
}
.card{
  border: 3px solid transparent;
  margin:3px;
  padding:3px;
}
#table{
  font-family:"Helvetica";
  text-align: center;
  background-color:#4CAF50;
  width:inherit;
  min-width: 500px;
  height:400px;
}
.roomEvents{
  font-size: 12px;
  color: grey;
}
#turnBanner{
  width:inherit;
  text-align: center;
  display: inline-block;
  font-size:20px;
  font-weight: bold;
}
#subHandContainer{
  width:200px;
  height:200px;
  border:1px solid black;
}
#roomContainer{
  display:flex;
}
#playerHands{
  text-align: center;
  width:inherit;
  height:100px;
  border:1px solid orange;
}
.pileCard{
  padding: 4px;
}
#pile{
  text-align: center;
  display:inline-block;
  border:3px solid purple;
}
#player1,#player2{
  display:inline-block;
  width:120px;
  border: 3px solid red;
}
#playerInput{
  position:absolute;
  bottom:0;
  border: 3px solid yellow;
}
