html
    body
        div(id="roomID" hidden) #{roomID}
        div(id="sessionID" hidden) #{sessionID}
        h1 howdy uniqueID
        p hello
        div(id="roomLog")
        div(id="hand")
        div(id="subHandContainer")
        div(id="pile")
        button(id="submitHand") submit
    script(src="/socket.io/socket.io.js")
    script(src="/client/room.js")
