html
  link(rel="stylesheet", href="/client/room.css")
  body
    div(id="roomID" hidden) #{roomID}
    div(id="sessionID" hidden) #{sessionID}
    div(id="roomContainer")
      div(id="messageContainer")
        div(class="screen")
        div(id="messageContent")
          div(class="banner")
          div(id="message")
          button(id="okButton") OK
      div(class="roomContent" id="matchContainer")
        div(id="matchContent")
          div(id="playerTurn")
          div(id="master")
          div(id="winners")
          div(id="table")
            div(id="playerData")
            div(id="pile")
        div(id="playerHandSet")
          div(id="selectedContainer")
            div(id="options")
              button(class="gameOption" id="ready") Ready
              button(class="gameOption" id="leaveRoom") Leave Room
              button(class="gameOption" id="submitHand") Submit
              button(class="gameOption" id="passTurn") Pass Turn
            div(id="selectedHand")
          div(id="view")
            img(id="cardDisplay" src="/client/img/back.png")
          div(id="playerHand")
      div(class="roomContent" id="roomComm")
        div(id="roomLog")
        input(id="playerInput")
        button(id="sendMsg") Send
  script(src="/socket.io/socket.io.js")
  script(src="/client/room.js")
