html
    link(rel="stylesheet", href="/client/game.css")
    script(src="/socket.io/socket.io.js")
    script(src="/client/game.js")
    body
        h1 Chinese Poker Online
        p Nothing to see here.
        div(id="name" class="promptContainer")
          div(class="screen")
          div(id="namePrompt" class="prompt")
            div(class="inputContainer" id="playerName")
              span(class="inputTitle") Choose your name:
              input(class="input" name="playerName" id="playerNameInput")
              span(class="msg" id="nameMsg")
            button(id="selectName") Select Name
            button(id="cancelName") Cancel
        div(id="room" class="promptContainer")
          div(class="screen")
          div(id="roomPrompt" class="prompt")
            div(class="inputContainer" id="roomName")
              span(class="inputTitle") Room Name:
              input(class="input" name="roomName" id="roomNameInput")
            div(class="inputContainer" id="roomPass")
              span(class="inputTitle") Room Pass:
              input(class="input" name="roomPass" id="roomPassInput")
            div(class="inputContainer" id="dropdown")
              span(class="inputTitle") Max Players:
              select(id="numOfPlayers")
                option(value="2") 2
                option(value="3") 3
                option(value="4") 4
            button(id="createRoom") Create Room
            button(id="cancelRoom") Cancel
        button(id="newRoom") new Room
        button(id="chooseName") choose name
        button(id="joinRoom") Join
        div(id="test") test
        p Rooms:
        ul(id="roomList")
